<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Roadmap</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The single source of all the neccessary information to settle down abroad for international student.">
		<meta name="author" content="teamgetgo">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.getgoabroad.com/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.getgoabroad.com/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.getgoabroad.com/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.getgoabroad.com/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.getgoabroad.com/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.getgoabroad.com/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.getgoabroad.com/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.getgoabroad.com/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-128.png" sizes="128x128" />
		<meta name="application-name" content="Getgo"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="http://www.getgoabroad.com/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="http://www.getgoabroad.com/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="http://www.getgoabroad.com/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="http://www.getgoabroad.com/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="http://www.getgoabroad.com/mstile-310x310.png" />

		<%= stylesheet_link_tag    'bootstrap.min', media: 'all'%>
		<%= stylesheet_link_tag    'jasny-bootstrap', media: 'all'%>
		<%= stylesheet_link_tag    'font-awesome.min', media: 'all'%>

		<%= stylesheet_link_tag    'drunken-parrot', media: 'all'%>
		<%= stylesheet_link_tag    'style', media: 'all'%>
		<%= stylesheet_link_tag    'bootstrap-select.min', media: 'all'%>

		<%= stylesheet_link_tag    'getgo', media: 'all'%>
		<%= javascript_include_tag 'jquery-1.11.2.min' %>
		<%= javascript_include_tag 'bootstrap.min' %>
		<%= javascript_include_tag 'bootstrap-select.min' %>

		<%= csrf_meta_tags %>

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body data-spy="scroll" data-target="#sidenav" data-offset="100">

		<div class="navmenu navmenu-default navmenu-fixed-left">
			<ul class="nav navmenu-nav getgo-menu">
				<!-- The first row is dedicated to the user profile or Sign in / Sign up button, pick one -->
				<!-- <li class="navmenu-account-info">
				<a href="#"><img src="images/profilepicture.png" alt="..." class="img-circle profile-picture"> Michael Jackson</a>
				</li> -->

				
				<% if user_signed_in? %>

				<li class="active">
					<a href="#"><i class="icon-roadmap-icon"></i>Roadmap</a>
				</li>
				<li>
					<%= link_to  controller: "/search", action: "library" do %><i class="icon-library-icon"></i>Library<%end%>
				</li>
				<li>
					<%= link_to  controller: "/search", action: "settlebuddies" do %>
					<i class="icon-settlebuddy-icon"></i>Settle Buddy<% end %>
				</li>
				<li>
					<a href="#"><i class="icon-forum-icon"></i>Forum</a>
				</li>
				<%end%>
				<!-- <li><a href="#"><i class="icon-search-icon"></i>Search</a></li> -->
				<!-- <li><a href="#"><i class="icon-help-icon"></i>Help</a></li> -->
				<!-- <li><a href="#"><i class="icon-settings-icon"></i>Settings</a></li> -->
			</ul>
		</div>

		<div class="canvas">
			<div class="navbar navbar-default navbar-fixed-top">
				<a class="navbar-getgo-logo" href="#"><i class="icon-getgo_symbol"></i></a>
				<p class="navbar-page-title">
					Getgo
				</p>
				<!-- USER INFO GOES HERE, welcome message, profil picture, messages/chat icon, bell icon for notification -->
				<ul class="nav navbar-nav navbar-right getgo-top-nav">
					<% if user_signed_in? %>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="welcome-user">Welcome, </span> <span class="user-name"><%= current_user.name %></span> <%= image_tag current_user.gravatar_url, class:"img-circle profile-picture" %> </a>
						<ul class="dropdown-menu" role="menu">
							<div class="arrow top"></div>
							<li class="dropdown-header">
								<%= current_user.name %>
							</li>
							<li>
								<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Logout", "/logout", :class => 'navbar-link'  %>
							</li>
						</ul>
					</li>

					<li>
						<a href="#"><i class="fa fa-envelope"></i></a>
					</li>
					<li>
						<%num = Request.where("(settle_buddy_id=? AND s_view_status=?) OR (client_id=? AND c_view_status=?)", current_user.id, false,current_user.id,false).size%>
						<%if current_user.settlebuddy?%>
						<a href="/search/requests_to_settle"> <%else%> <a href="/search/settlebuddies"> <%end%> <i class="fa fa-bell"><%if num!=0 %><span class="label label-success label-as-badge"><%= num%></span><%end%></i></a>
					</li>
					<% else %>
					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

					<%end%>
				</ul>

				<button type="button" class="navbar-toggle hamburger" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</div>
			<!-- #### GETGO CONTENT WRAPPER #### -->
			<div class="getgo-content">
				<div class="container-fluid">

					<!-- Roadmap items (nav tabs) href and aria-controls attributes hold the target ID -->
					<nav class="roadmap-scroll" role="tabpanel">
						<ul class="nav nav-roadmap" role="tablist">
							<!-- roadmap nav rounded item -->
							<li role="presentation" class="welcome">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#welcome" aria-controls="welcome" role="tab" data-toggle="tab"><i class="icon-getgo_symbol"></i></a>
									</div>
								</div>
							</li>
							<!-- roadmap nav rounded item -->
							<%if current_user.country_of_origin.eql?("Non-Europe")%>
							<li role="presentation" class="visa">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#visa" aria-controls="visa" role="tab" data-toggle="tab"><i class="icon-visa"></i></a>
									</div>
								</div>
							</li>
							<%end%>
							<!-- roadmap nav rounded item -->
							<li role="presentation" class="health-insurance">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#health-insurance" aria-controls="health-insurance" role="tab" data-toggle="tab"><i class="icon-health-insurance"></i></a>
									</div>
								</div>
							</li>
							<!-- roadmap nav rounded item -->
							<li role="presentation" class="housing active completed">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#housing" aria-controls="housing" role="tab" data-toggle="tab"><i class="icon-housing"></i></a>
									</div>
								</div>
							</li>
							<!-- roadmap nav rounded item -->
							<li role="presentation" class="housing-benefit">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#housing-benefit" aria-controls="housing-benefit" role="tab" data-toggle="tab"><i class="icon-housing-benefit"></i></a>
									</div>
								</div>
							</li>
							<!-- roadmap nav rounded item -->
							<li role="presentation" class="public-transportation">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#public-transportation" aria-controls="public-transportation" role="tab" data-toggle="tab"><i class="icon-public-transport"></i></a>
									</div>
								</div>
							</li>
							
							
							<!-- roadmap nav rounded item -->
							<li role="presentation" class="telecommunication">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#telecommunication" aria-controls="telecommunication" role="tab" data-toggle="tab"><i class="icon-telecommunication"></i></a>
									</div>
								</div>
							</li>
							<!-- roadmap nav rounded item -->
							<li role="presentation" class="bank">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#bank" aria-controls="bank" role="tab" data-toggle="tab"><i class="icon-bank"></i></a>
									</div>
								</div>
							</li>
							<%if current_user.duration.eql?("More than 6 months") %>

							<!-- roadmap nav rounded item -->
							<li role="presentation" class="residence-permit">
								<div class="round-button">
									<div class="round-button-circle">
										<a href="#residence-permit" aria-controls="residence-permit" role="tab" data-toggle="tab"><i class="icon-residence-permit"></i></a>
									</div>
								</div>
							</li>
							<%end%>
						</ul>
					</nav>

					<!-- Roadmap item contents (Tab panes) Inside a basic panel: tabpanels with category IDs -->
					<div class="panel panel-default roadmap-content">
						<div class="panel-body">

							<div class="tab-content">
								
								<%rm = Roadmap.where(user_id: current_user.id).take%>
								
								<%housing = Task.where(roadmap_id: rm.id, name: "Housing").take%>
								<!-- Roadmap tab-pane item -->
								<div role="tabpanel" class="tab-pane fade active in" id="housing">
									<div class="roadmap-item-title">
										<div class="row">
											<div class="col-xs-10">
												<h3><%= housing.name%></h3>
											</div>
											<div class="col-xs-2">
												<a id="vertical-bottom-toolbar" class="icon-button pull-right"> <i class="fa fa-cog"></i> </a>
												<div id="user-toolbar-options" style="display: none">
													<a href="#fakeLink"><i class="fa fa-user"></i></a>
													<a href="#fakeLink"><i class="fa fa-star"></i></a>
													<a href="#fakeLink"><i class="fa fa-edit"></i></a>
													<a href="#fakeLink"><i class="fa fa-trash-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="roadmap-item-description">
										<div class="row">
											<div class="col-sm-6">
												<dl>
													<dt>
														Description
													</dt>
													<dd>
														<%= housing.description%>
													</dd>
												</dl>
											</div>
											<div class="col-sm-6">
												<%link = Link.where(task_id: housing.id).take%>
													<%if !link.nil?%>
												<dl>
													
													<dt>
														Helpful Links
													</dt>
													<dd>
														  <%= link_to link.link_description,link.link_src  %>

														
													</dd>
												</dl>
																									<%end%>

												<dl>
													<dt>
														When to Apply
													</dt>
													<dd>
														<%= housing.application_time%>
													</dd>
												</dl>
												<p></p>
												<!-- Roadmap comment -->

											</div>
										</div>
										<div class="roadmap-comment">
											<div class="comments-container"></div>
											<a href="#" class="add-comment-btn">Add personal comment...</a>
											<div class="add-comment">
												<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
												<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
													Save
												</button>
												<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
													Cancel
												</button>
											</div>
										</div>
										<br>
										<br>
									</div>

									<!-- ACCORDION -->
									<div class="panel-group-roadmap" id="accordion">

										<!-- Panel roadmap -->
										<div class="panel panel-roadmap" id="panel0">
											<div class="panel-heading done" data-toggle="collapse" data-target="#documents">
												<div class="panel-title">
													Documents needed
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="documents" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-sm-6">
															<%housing.documents.each do |doc|%>
															<label class="checkbox" for="checkbox1">
																<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
																<%= doc.name%> </label>
																<%end%>
															
													</div>
													<!-- Roadmap comment -->
													<div class="roadmap-comment">
														<div class="comments-container"></div>
														<a href="#" class="add-comment-btn">Add personal comment...</a>
														<div class="add-comment">
															<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
															<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
																Save
															</button>
															<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
																Cancel
															</button>
														</div>
													</div>
													<!-- /roadmap comment -->
												</div>
											</div>
										</div>

										<!-- Panel roadmap -->
										<%housing.subtasks.each do |subtask|%>
										<div class="panel panel-roadmap" id="<%= subtask.name%>">
											<div class="panel-heading" data-toggle="collapse" data-target="#<%= subtask.name%>">
												<div class="panel-title done">
													<%= subtask.name%>
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="<%= subtask.name%>" class="panel-collapse collapse in">
												<div class="panel-body">
													<%= subtask.description%></div>
											</div>
										</div>
								<%end%>
									
								</div>
								</div>
								</div>

								<!-- Roadmap tab-pane item -->
								<div role="tabpanel" class="tab-pane fade" id="welcome">
									<h3>Welcome to your personal Roadmap</h3>
									<p>
										You will find here your customized map based on your preferences. 
									</p>
								</div>
								<!-- Roadmap tab-pane item -->
								<%caf = Task.where(roadmap_id: rm.id, name: "Housing Allowance (CAF)").take%>
								<!-- Roadmap tab-pane item -->
								<div role="tabpanel" class="tab-pane fade active in" id="housing-benefit">
									<div class="roadmap-item-title">
										<div class="row">
											<div class="col-xs-10">
												<h3><%= caf.name%></h3>
											</div>
											<div class="col-xs-2">
												<a id="vertical-bottom-toolbar" class="icon-button pull-right"> <i class="fa fa-cog"></i> </a>
												<div id="user-toolbar-options" style="display: none">
													<a href="#fakeLink"><i class="fa fa-user"></i></a>
													<a href="#fakeLink"><i class="fa fa-star"></i></a>
													<a href="#fakeLink"><i class="fa fa-edit"></i></a>
													<a href="#fakeLink"><i class="fa fa-trash-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="roadmap-item-description">
										<div class="row">
											<div class="col-sm-6">
												<dl>
													<dt>
														Description
													</dt>
													<dd>
														<%= caf.description%>
													</dd>
												</dl>
											</div>
											<div class="col-sm-6">
												<%link = Link.where(task_id: caf.id).take%>
													<%if !link.nil?%>
												<dl>
													
													<dt>
														Helpful Links
													</dt>
													<dd>
														  <%= link_to link.link_description,link.link_src  %>

														
													</dd>
												</dl>
																									<%end%>

												<dl>
													<dt>
														When to Apply
													</dt>
													<dd>
														<%= caf.application_time%>
													</dd>
												</dl>
												<p></p>
												<!-- Roadmap comment -->

											</div>
										</div>
										<div class="roadmap-comment">
											<div class="comments-container"></div>
											<a href="#" class="add-comment-btn">Add personal comment...</a>
											<div class="add-comment">
												<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
												<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
													Save
												</button>
												<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
													Cancel
												</button>
											</div>
										</div>
										<br>
										<br>
									</div>

									<!-- ACCORDION -->
									<div class="panel-group-roadmap" id="accordion">

										<!-- Panel roadmap -->
										<div class="panel panel-roadmap" id="panel0">
											<div class="panel-heading done" data-toggle="collapse" data-target="#documents">
												<div class="panel-title">
													Documents needed
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="documents" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-sm-6">
															<%caf.documents.each do |doc|%>
															<label class="checkbox" for="checkbox1">
																<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
																<%= doc.name%> </label>
																<%end%>
															
													</div>
													<!-- Roadmap comment -->
													<div class="roadmap-comment">
														<div class="comments-container"></div>
														<a href="#" class="add-comment-btn">Add personal comment...</a>
														<div class="add-comment">
															<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
															<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
																Save
															</button>
															<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
																Cancel
															</button>
														</div>
													</div>
													<!-- /roadmap comment -->
												</div>
											</div>
										</div>

										<!-- Panel roadmap -->
										<%caf.subtasks.each do |subtask|%>
										<div class="panel panel-roadmap" id="<%= subtask.name%>">
											<div class="panel-heading" data-toggle="collapse" data-target="#<%= subtask.name%>">
												<div class="panel-title">
													<%= subtask.name%>
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="<%= subtask.name%>" class="panel-collapse collapse in">
												<div class="panel-body">
													<%= subtask.description%></div>
											</div>
										</div>
								<%end%>
									
								</div>
								</div>
								</div>

								<!-- Roadmap tab-pane item -->
								<%hi = Task.where(roadmap_id: rm.id, name: "Health Insurance").take%>
								<!-- Roadmap tab-pane item -->
								<div role="tabpanel" class="tab-pane fade active in" id="health-insurance">
									<div class="roadmap-item-title">
										<div class="row">
											<div class="col-xs-10">
												<h3><%= hi.name%></h3>
											</div>
											<div class="col-xs-2">
												<a id="vertical-bottom-toolbar" class="icon-button pull-right"> <i class="fa fa-cog"></i> </a>
												<div id="user-toolbar-options" style="display: none">
													<a href="#fakeLink"><i class="fa fa-user"></i></a>
													<a href="#fakeLink"><i class="fa fa-star"></i></a>
													<a href="#fakeLink"><i class="fa fa-edit"></i></a>
													<a href="#fakeLink"><i class="fa fa-trash-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="roadmap-item-description">
										<div class="row">
											<div class="col-sm-6">
												<dl>
													<dt>
														Description
													</dt>
													<dd>
														<%= hi.description%>
													</dd>
												</dl>
											</div>
											<div class="col-sm-6">
												<%link = Link.where(task_id: hi.id).take%>
													<%if !link.nil?%>
												<dl>
													
													<dt>
														Helpful Links
													</dt>
													<dd>
														  <%= link_to link.link_description,link.link_src  %>

														
													</dd>
												</dl>
																									<%end%>

												<dl>
													<dt>
														When to Apply
													</dt>
													<dd>
														<%= hi.application_time%>
													</dd>
												</dl>
												<p></p>
												<!-- Roadmap comment -->

											</div>
										</div>
										<div class="roadmap-comment">
											<div class="comments-container"></div>
											<a href="#" class="add-comment-btn">Add personal comment...</a>
											<div class="add-comment">
												<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
												<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
													Save
												</button>
												<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
													Cancel
												</button>
											</div>
										</div>
										<br>
										<br>
									</div>

									<!-- ACCORDION -->
									<div class="panel-group-roadmap" id="accordion">

										<!-- Panel roadmap -->
										<div class="panel panel-roadmap" id="panel0">
											<div class="panel-heading done" data-toggle="collapse" data-target="#documents">
												<div class="panel-title">
													Documents needed
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="documents" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-sm-6">
															<%hi.documents.each do |doc|%>
															<label class="checkbox" for="checkbox1">
																<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
																<%= doc.name%> </label>
																<%end%>
															
													</div>
													<!-- Roadmap comment -->
													<div class="roadmap-comment">
														<div class="comments-container"></div>
														<a href="#" class="add-comment-btn">Add personal comment...</a>
														<div class="add-comment">
															<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
															<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
																Save
															</button>
															<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
																Cancel
															</button>
														</div>
													</div>
													<!-- /roadmap comment -->
												</div>
											</div>
										</div>

										<!-- Panel roadmap -->
										<%hi.subtasks.each do |subtask|%>
										<div class="panel panel-roadmap" id="<%= subtask.name%>">
											<div class="panel-heading" data-toggle="collapse" data-target="#<%= subtask.name%>">
												<div class="panel-title">
													<%= subtask.name%>
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="<%= subtask.name%>" class="panel-collapse collapse in">
												<div class="panel-body">
													<%= subtask.description%></div>
											</div>
										</div>
								<%end%>
									
								</div>
								</div>
								</div>

								<!-- Roadmap tab-pane item -->
								<%visa = Task.where(roadmap_id: rm.id, name: "Non- EU Visa Procedure").take%>
								<%if !visa.nil?%>
								<!-- Roadmap tab-pane item -->
								<div role="tabpanel" class="tab-pane fade active in" id="visa">
									<div class="roadmap-item-title">
										<div class="row">
											<div class="col-xs-10">
												<h3><%= visa.name%></h3>
											</div>
											<div class="col-xs-2">
												<a id="vertical-bottom-toolbar" class="icon-button pull-right"> <i class="fa fa-cog"></i> </a>
												<div id="user-toolbar-options" style="display: none">
													<a href="#fakeLink"><i class="fa fa-user"></i></a>
													<a href="#fakeLink"><i class="fa fa-star"></i></a>
													<a href="#fakeLink"><i class="fa fa-edit"></i></a>
													<a href="#fakeLink"><i class="fa fa-trash-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="roadmap-item-description">
										<div class="row">
											<div class="col-sm-6">
												<dl>
													<dt>
														Description
													</dt>
													<dd>
														<%= visa.description%>
													</dd>
												</dl>
											</div>
											<div class="col-sm-6">
												<%link = Link.where(task_id: visa.id).take%>
													<%if !link.nil?%>
												<dl>
													
													<dt>
														Helpful Links
													</dt>
													<dd>
														  <%= link_to link.link_description,link.link_src  %>

														
													</dd>
												</dl>
																									<%end%>

												<dl>
													<dt>
														When to Apply
													</dt>
													<dd>
														<%= visa.application_time%>
													</dd>
												</dl>
												<p></p>
												<!-- Roadmap comment -->

											</div>
										</div>
										<div class="roadmap-comment">
											<div class="comments-container"></div>
											<a href="#" class="add-comment-btn">Add personal comment...</a>
											<div class="add-comment">
												<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
												<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
													Save
												</button>
												<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
													Cancel
												</button>
											</div>
										</div>
										<br>
										<br>
									</div>

									<!-- ACCORDION -->
									<div class="panel-group-roadmap" id="accordion">

										<!-- Panel roadmap -->
										<div class="panel panel-roadmap" id="panel0">
											<div class="panel-heading done" data-toggle="collapse" data-target="#documents">
												<div class="panel-title">
													Documents needed
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="documents" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-sm-6">
															<%visa.documents.each do |doc|%>
															<label class="checkbox" for="checkbox1">
																<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
																<%= doc.name%> </label>
																<%end%>
															
													</div>
													<!-- Roadmap comment -->
													<div class="roadmap-comment">
														<div class="comments-container"></div>
														<a href="#" class="add-comment-btn">Add personal comment...</a>
														<div class="add-comment">
															<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
															<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
																Save
															</button>
															<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
																Cancel
															</button>
														</div>
													</div>
													<!-- /roadmap comment -->
												</div>
											</div>
										</div>

										<!-- Panel roadmap -->
										<%visa.subtasks.each do |subtask|%>
										<div class="panel panel-roadmap" id="<%= subtask.name%>">
											<div class="panel-heading" data-toggle="collapse" data-target="#<%= subtask.name%>">
												<div class="panel-title">
													<%= subtask.name%>
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="<%= subtask.name%>" class="panel-collapse collapse in">
												<div class="panel-body">
													<%= subtask.description%></div>
											</div>
										</div>
								<%end%>
									
								</div>
</div>
</div>
<%end%>
								<!-- Roadmap tab-pane item -->
								<div role="tabpanel" class="tab-pane fade" id="telecommunication">
									<h3>Soon</h3>
								</div>
								<!-- Roadmap tab-pane item -->
								<%bank = Task.where(roadmap_id: rm.id, name: "Bank").take%>
								<!-- Roadmap tab-pane item -->
								<div role="tabpanel" class="tab-pane fade active in" id="bank">
									<div class="roadmap-item-title">
										<div class="row">
											<div class="col-xs-10">
												<h3><%= bank.name%></h3>
											</div>
											<div class="col-xs-2">
												<a id="vertical-bottom-toolbar" class="icon-button pull-right"> <i class="fa fa-cog"></i> </a>
												<div id="user-toolbar-options" style="display: none">
													<a href="#fakeLink"><i class="fa fa-user"></i></a>
													<a href="#fakeLink"><i class="fa fa-star"></i></a>
													<a href="#fakeLink"><i class="fa fa-edit"></i></a>
													<a href="#fakeLink"><i class="fa fa-trash-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="roadmap-item-description">
										<div class="row">
											<div class="col-sm-6">
												<dl>
													<dt>
														Description
													</dt>
													<dd>
														<%= bank.description%>
													</dd>
												</dl>
											</div>
											<div class="col-sm-6">
												<%link = Link.where(task_id: bank.id).take%>
													<%if !link.nil?%>
												<dl>
													
													<dt>
														Helpful Links
													</dt>
													<dd>
														  <%= link_to link.link_description,link.link_src  %>

														
													</dd>
												</dl>
																									<%end%>

												<dl>
													<dt>
														When to Apply
													</dt>
													<dd>
														<%= bank.application_time%>
													</dd>
												</dl>
												<p></p>
												<!-- Roadmap comment -->

											</div>
										</div>
										<div class="roadmap-comment">
											<div class="comments-container"></div>
											<a href="#" class="add-comment-btn">Add personal comment...</a>
											<div class="add-comment">
												<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
												<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
													Save
												</button>
												<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
													Cancel
												</button>
											</div>
										</div>
										<br>
										<br>
									</div>

									<!-- ACCORDION -->
									<div class="panel-group-roadmap" id="accordion">

										<!-- Panel roadmap -->
										<div class="panel panel-roadmap" id="panel0">
											<div class="panel-heading done" data-toggle="collapse" data-target="#documents">
												<div class="panel-title">
													Documents needed
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="documents" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-sm-6">
															<%bank.documents.each do |doc|%>
															<label class="checkbox" for="checkbox1">
																<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
																<%= doc.name%> </label>
																<%end%>
															
													</div>
													<!-- Roadmap comment -->
													<div class="roadmap-comment">
														<div class="comments-container"></div>
														<a href="#" class="add-comment-btn">Add personal comment...</a>
														<div class="add-comment">
															<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
															<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
																Save
															</button>
															<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
																Cancel
															</button>
														</div>
													</div>
													<!-- /roadmap comment -->
												</div>
											</div>
										</div>

										<!-- Panel roadmap -->
										<%bank.subtasks.each do |subtask|%>
										<div class="panel panel-roadmap" id="<%= subtask.name%>">
											<div class="panel-heading" data-toggle="collapse" data-target="#<%= subtask.name%>">
												<div class="panel-title">
													<%= subtask.name%>
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="<%= subtask.name%>" class="panel-collapse collapse in">
												<div class="panel-body">
													<%= subtask.description%></div>
											</div>
										</div>
								<%end%>
									
								</div>
								</div>
								</div>

								<!-- Roadmap tab-pane item -->
								
								<%ofii = Task.where(roadmap_id: rm.id, name: "Residence Permit").take%>
								<!-- Roadmap tab-pane item -->
																<%if !ofii.nil?%>

								<div role="tabpanel" class="tab-pane fade active in" id="residence-permit">
									<div class="roadmap-item-title">
										<div class="row">
											<div class="col-xs-10">
												<h3><%= ofii.name%></h3>
											</div>
											<div class="col-xs-2">
												<a id="vertical-bottom-toolbar" class="icon-button pull-right"> <i class="fa fa-cog"></i> </a>
												<div id="user-toolbar-options" style="display: none">
													<a href="#fakeLink"><i class="fa fa-user"></i></a>
													<a href="#fakeLink"><i class="fa fa-star"></i></a>
													<a href="#fakeLink"><i class="fa fa-edit"></i></a>
													<a href="#fakeLink"><i class="fa fa-trash-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="roadmap-item-description">
										<div class="row">
											<div class="col-sm-6">
												<dl>
													<dt>
														Description
													</dt>
													<dd>
														<%= ofii.description%>
													</dd>
												</dl>
											</div>
											<div class="col-sm-6">
												<%link = Link.where(task_id: ofii.id).take%>
													<%if !link.nil?%>
												<dl>
													
													<dt>
														Helpful Links
													</dt>
													<dd>
														  <%= link_to link.link_description,link.link_src  %>

														
													</dd>
												</dl>
																									<%end%>

												<dl>
													<dt>
														When to Apply
													</dt>
													<dd>
														<%= ofii.application_time%>
													</dd>
												</dl>
												<p></p>
												<!-- Roadmap comment -->

											</div>
										</div>
										<div class="roadmap-comment">
											<div class="comments-container"></div>
											<a href="#" class="add-comment-btn">Add personal comment...</a>
											<div class="add-comment">
												<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
												<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
													Save
												</button>
												<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
													Cancel
												</button>
											</div>
										</div>
										<br>
										<br>
									</div>

									<!-- ACCORDION -->
									<div class="panel-group-roadmap" id="accordion">

										<!-- Panel roadmap -->
										<div class="panel panel-roadmap" id="panel0">
											<div class="panel-heading done" data-toggle="collapse" data-target="#documents">
												<div class="panel-title">
													Documents needed
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="documents" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-sm-6">
															<%ofii.documents.each do |doc|%>
															<label class="checkbox" for="checkbox1">
																<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
																<%= doc.name%> </label>
																<%end%>
															
													</div>
													<!-- Roadmap comment -->
													<div class="roadmap-comment">
														<div class="comments-container"></div>
														<a href="#" class="add-comment-btn">Add personal comment...</a>
														<div class="add-comment">
															<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
															<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
																Save
															</button>
															<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
																Cancel
															</button>
														</div>
													</div>
													<!-- /roadmap comment -->
												</div>
											</div>
										</div>

										<!-- Panel roadmap -->
										<%ofii.subtasks.each do |subtask|%>
										<div class="panel panel-roadmap" id="<%= subtask.name%>">
											<div class="panel-heading" data-toggle="collapse" data-target="#<%= subtask.name%>">
												<div class="panel-title">
													<%= subtask.name%>
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="<%= subtask.name%>" class="panel-collapse collapse in">
												<div class="panel-body">
													<%= subtask.description%></div>
											</div>
										</div>
								<%end%>
									
								</div>
								</div>
								</div>
<%end%>
								<!-- Roadmap tab-pane item -->
								<%transport = Task.where(roadmap_id: rm.id, name: "Transport").take%>
								<!-- Roadmap tab-pane item -->
								<div role="tabpanel" class="tab-pane fade active in" id="public-transportation">
									<div class="roadmap-item-title">
										<div class="row">
											<div class="col-xs-10">
												<h3><%= transport.name%></h3>
											</div>
											<div class="col-xs-2">
												<a id="vertical-bottom-toolbar" class="icon-button pull-right"> <i class="fa fa-cog"></i> </a>
												<div id="user-toolbar-options" style="display: none">
													<a href="#fakeLink"><i class="fa fa-user"></i></a>
													<a href="#fakeLink"><i class="fa fa-star"></i></a>
													<a href="#fakeLink"><i class="fa fa-edit"></i></a>
													<a href="#fakeLink"><i class="fa fa-trash-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="roadmap-item-description">
										<div class="row">
											<div class="col-sm-6">
												<dl>
													<dt>
														Description
													</dt>
													<dd>
														<%= transport.description%>
													</dd>
												</dl>
											</div>
											<div class="col-sm-6">
												<%link = Link.where(task_id: transport.id).take%>
													<%if !link.nil?%>
												<dl>
													
													<dt>
														Helpful Links
													</dt>
													<dd>
														  <%= link_to link.link_description,link.link_src  %>

														
													</dd>
												</dl>
																									<%end%>

												<dl>
													<dt>
														When to Apply
													</dt>
													<dd>
														<%= transport.application_time%>
													</dd>
												</dl>
												<p></p>
												<!-- Roadmap comment -->

											</div>
										</div>
										<div class="roadmap-comment">
											<div class="comments-container"></div>
											<a href="#" class="add-comment-btn">Add personal comment...</a>
											<div class="add-comment">
												<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
												<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
													Save
												</button>
												<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
													Cancel
												</button>
											</div>
										</div>
										<br>
										<br>
									</div>

									<!-- ACCORDION -->
									<div class="panel-group-roadmap" id="accordion">

										<!-- Panel roadmap -->
										<div class="panel panel-roadmap" id="panel0">
											<div class="panel-heading done" data-toggle="collapse" data-target="#documents">
												<div class="panel-title">
													Documents needed
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="documents" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-sm-6">
															<%transport.documents.each do |doc|%>
															<label class="checkbox" for="checkbox1">
																<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
																<%= doc.name%> </label>
																<%end%>
															
													</div>
													<!-- Roadmap comment -->
													<div class="roadmap-comment">
														<div class="comments-container"></div>
														<a href="#" class="add-comment-btn">Add personal comment...</a>
														<div class="add-comment">
															<textarea class="form-control" rows="3" id="comment" placeholder="Write comment here..."></textarea>
															<button type="button" class="btn btn-primary btn-sm pull-right comment-save">
																Save
															</button>
															<button type="button" class="btn btn-info btn-sm pull-right comment-cancel">
																Cancel
															</button>
														</div>
													</div>
													<!-- /roadmap comment -->
												</div>
											</div>
										</div>

										<!-- Panel roadmap -->
										<%transport.subtasks.each do |subtask|%>
										<div class="panel panel-roadmap" id="<%= subtask.name%>">
											<div class="panel-heading" data-toggle="collapse" data-target="#<%= subtask.name%>">
												<div class="panel-title">
													<%= subtask.name%>
													<div class="panel-title-btn">
														<a href="#">Done</a>
													</div>
												</div>
											</div>
											<div id="<%= subtask.name%>" class="panel-collapse collapse in">
												<div class="panel-body">
													<%= subtask.description%></div>
											</div>
										</div>
								<%end%>
									
								</div>
								</div>
								</div>


							</div>
							<!-- /tab content -->
						</div>
						<!-- /panel body -->
					</div>
					<!-- /roadmap content -->

				</div><!-- /.container -->
			</div><!-- /.getgo-content -->
			<footer>
				<p>
					<i class="icon-getgo_logo"></i>
				</p>
				<p>
					2015 &copy; GETGO - All rights reserved
				</p>
			</footer>
		</div><!-- /canvas -->

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<%= javascript_include_tag 'jasny-bootstrap' %>
		<%= javascript_include_tag 'checkbox' %>
		<%= javascript_include_tag 'radio' %>
		<%= javascript_include_tag 'bootstrap-switch' %>
		<%= javascript_include_tag 'toolbar' %>
		<%= javascript_include_tag 'starrr' %>
		<%= javascript_include_tag 'jquery.matchHeight' %>

		<%= javascript_include_tag 'getgo' %>

	</body>
</html>