<div class="row profile text-center">
	<div class="col-md-6">
		<%= image_tag current_user.gravatar_url, width:"150" ,height:"150", alt:"" %>

		<h4><%= current_user.name%></h4>

		<div class="user-rating">
			<%for i in 1..current_user.rating%>
			<i class="fa fa-star"></i>
			<%end%>

			<%for i in 1..(5-current_user.rating)%>

			<i class="fa fa-star star-gray"></i>
			<%end%>
		</div>
	</div>
	<!-- rating -->
</div>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body profile-details">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				<%= devise_error_messages! %>
				<h5>Roadmap settings:</h5>
				<div class="text-left">
					Public roadmap <span class="pull-right"> <%= f.check_box :public_roadmap,style:"width: 20px; height: 20px;"%> </span>
				</div>

				<h5>Settlebuddy settings:</h5>
				<div class="text-left">
					Settlebuddy <span class="pull-right"> <%= f.check_box :settlebuddy,style:"width: 20px; height: 20px;"%> </span>
				</div>

				<a href="/settlebuddy_supports/<%= current_user.settlebuddy_support.id%>/edit"> Configure </a>
				<h5 style="margin-top: 30px">Personal details:</h5>

				<div class="input-icon">
					<span class="fa-envelope fa"></span>
					<%= f.email_field :email, class:"form-control" %>
				</div>
				<div class="input-icon">
					<span class="fa-lock fa"></span>
					<%= f.password_field :password, class:"form-control",autocomplete: "off",placeholder:"New Password, leave it blank if you don't want to change it"  %>
				</div>
				<div class="input-icon">
					<span class="fa-lock fa"></span>
					<%= f.password_field :password_confirmation, class:"form-control",autocomplete: "off",placeholder:"New Password confirmation"  %>
				</div>
				<div class="input-icon">
					<span class="fa-lock fa"></span>
					<%= f.password_field :current_password, class:"form-control",autocomplete: "off", placeholder:"Current Password, Required"  %>
				</div>
				<div class="input-icon">
					<span class="fa-calendar fa"></span>
					<%= f.date_field :birthdate, class:"form-control" %>
				</div>
				<div class="input-icon">
					<span class="fa-user fa"></span>
					<%= f.text_field :name, class:"form-control" %>

				</div>
				<div class="input-icon">
					<%= f.select :country_of_origin, options_for_select([ "Country of Origin","Europe", "Non-Europe" ],selected:current_user.country_of_origin, disabled: "Country of Origin"),{}, {class:"selectpicker", style: "margin-bottom: 10px;"} %>

				</div>
				<div class="input-icon">

					<%= f.select :city_of_studies, options_for_select([ "City of Studies","Paris", "London","Berlin","Amsterdam" ],selected:current_user.city_of_studies, disabled: "City of Studies"),{}, {class:"selectpicker", style: "margin-bottom: 10px;"} %>
				</div>
				<div class="input-icon">

					<%= f.select :duration, options_for_select([ "Duration of Stay","Less than 6 months", "More than 6 months" ],selected:current_user.duration, disabled: "Duration of Stay"),{}, {class:"selectpicker", style: "margin-bottom: 10px;"} %>
				</div>

				<div class="input-icon">
					<%= f.button "Save changes", :submit => "", class: "btn btn-block btn-sm btn-primary btn-embossed" %>
					<br>
					<% end %>
				</div>
				<div class="input-icon">

					<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-block btn-sm btn-danger btn-embossed" %>
					<br>
					<%= link_to "Back", :back, class:"pull-right" %>
				</div>

			</div>
		</div>
	</div>
</div>

