<div class="getgo-content">
	<div class="container-fluid">
		<div class="row" style="margin-top:30px;">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="tile tile-signup">
					<div class="getgo-logo">
						<i class="icon-getgo_logo"></i>
					</div>
					<h3>Sign up</h3>
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>

					<div class="input-icon">
						<span class="fa-envelope fa"></span>
						<%= f.email_field :email, autofocus: true,class:"form-control", placeholder:"E-mail address" %>

					</div>
					<div class="input-icon" style="margin-top: 5px;">
						<span class="fa-lock fa"></span>

						<%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:'8 characters minimum' %>

					</div>
					<div class="input-icon" style="margin-bottom: 0px;">
						<span class="fa-lock fa"></span>
						<%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control", placeholder:'Retype Your Password' %>
					</div>
					<div class="input-icon" style="margin-top: 0px;">
						<span class="fa-calendar fa"></span>
						<%= f.date_field :birthdate,class:"form-control" %>

					</div>

					<div class="input-icon" style="margin-top: 5px;">
						<span class="fa-user fa"></span>
						<%= f.text_field :name, class:"form-control", placeholder:"Name" %>
					</div>

					<div class="input-icon">
						<%= f.select :country_of_origin, options_for_select([ "Country of Origin","Europe", "Non-Europe" ],selected:"Country of Origin", disabled: "Country of Origin"),{}, {class:"selectpicker", style: "margin-bottom: 10px;"} %>

					</div>
					<div class="input-icon">

						<%= f.select :city_of_studies, options_for_select([ "City of Studies","Paris", "London","Berlin","Amsterdam" ],selected:"City of Studies", disabled: "City of Studies"),{}, {class:"selectpicker", style: "margin-bottom: 10px;"} %>
					</div>
					<div class="input-icon">

						<%= f.select :duration, options_for_select([ "Duration of Stay","Less than 6 months", "More than 6 months" ],selected:"Duration of Stay", disabled: "Duration of Stay"),{}, {class:"selectpicker", style: "margin-bottom: 10px;"} %>
					</div>

					<div class="input-icon center" style="margin-bottom: 5px;">

						<font size="4.5" ><em> I want to be a settle buddy<a href="" class="center" data-toggle="modal" data-target="#GSCCModal" > <sup>(?)</sup></a></em></font>
					</div>
					<div class="input-icon center">
						
						<%= f.check_box :settlebuddy, style: "width: 20px; height: 20px;"%>

					</div>

					<%= f.button "Sign up", :submit => "", class: "btn btn-block btn-success btn-embossed" %>

					<% end %>
					<%if !(flash[:notice].eql?"Please complete registration") -%>
					<h3>or</h3>
					<%- resource_class.omniauth_providers.each do |provider| %>
					<%= link_to '<i class="fa fa-facebook" style="padding-right: 10px"></i>Sign in with Facebook'.html_safe, omniauth_authorize_path(resource_name, provider), class:'btn btn-block btn-facebook btn-embossed'%>

					<% end -%>

					<p>
						Already a user?   <%= link_to "Log in", new_session_path(resource_name) %>
					</p>
					<%end -%>

				</div>

			</div>
		</div>
	</div><!-- /.container -->
	<div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">What is a settle buddy?</h4>
				</div>
				<div class="modal-body">
					A settle buddy is a feature that allows you to help other students setlle in. With your experience, you can provide hints and easy ways to get the job done. Moreover, you get paid for that.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Ok
					</button>
				</div>
			</div>
		</div>
	</div>
