<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="field">
	<%= f.label :country %>
	<br>
	<%= f.text_field :country %>
</div>
<div class="field">
	<%= f.label :university %>
	<br>
	<%= f.text_field :university %>
</div>
<div class="field">
	<%= f.label :duration %>
	<br>
	<%= f.text_field :duration %>
</div>

<div class="actions">
	<%= f.submit "Sign up" %>
</div>
<% end %>
 <div class="getgo-content">
        <div class="container-fluid">
          <div class="row" style="margin-top:30px;">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
              <div class="tile tile-signup">
                <div class="getgo-logo"><i class="icon-getgo_logo"></i></div>
                <h3>Sign up</h3>
                <div class="input-icon">
                  <span class="fa-user fa"></span>
                  <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-icon">
                  <span class="fa-envelope fa"></span>
                  <input type="text" class="form-control" placeholder="E-mail address">
                </div>
                <div class="input-icon">
                  <span class="fa-calendar fa"></span>
                  <input type="text" class="form-control" placeholder="Date of birth (DD/MM/YYYY)">
                </div>
                <div class="input input-required">
                  <input type="text" class="form-control" required placeholder="First Name">
                </div>
                <div class="input">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
                <select class="selectpicker">
                  <option value="" disabled selected>Country of origin</option>
                  <option>Europe</option>
                  <option>Non-Europe</option>
                </select>
                <select class="selectpicker">
                  <option value="" disabled selected>City of studies</option>
                  <option>Paris</option>
                  <option>London</option>
                  <option>Berlin</option>
                  <option>Amsterdam</option>
                  <option>Stockholm</option>
                  <option>Trento</option>
                </select>
                <select class="selectpicker">
                  <option value="" disabled selected>Duration of studies</option>
                  <option>Less than 6 months</option>
                  <option>More than 6 months</option>
                </select>
                <div class="input-icon" style="margin-top: 20px;">
                  <span class="fa-lock fa"></span>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="input-icon" style="margin-bottom: 20px;">
                  <span class="fa-lock fa"></span>
                  <input type="password" class="form-control" placeholder="Re-enter password">
                </div>

                <a href="#fakeLink" class="btn btn-block btn-success btn-embossed">Sign up</a>
                <h3>or</h3>
                <a href="#fakeLink" class="btn btn-block btn-facebook btn-embossed"><i class="fa fa-facebook" style="padding-right: 10px"></i>Sign up with facebook</a>
                <p>Already a user? <a href="#fakeLink">Sign In</a></p>
              </div>

            </div>
          </div>
        </div><!-- /.container -->

<div class="getgo-content">
	<div class="container-fluid">
		<div class="row" style="margin-top:30px;">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="tile tile-signup">
					<div class="getgo-logo">
						<i class="icon-getgo_logo"></i>
					</div>
					<h3>Sign up</h3>
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>

					<div class="input-icon">
						<span class="fa-envelope fa"></span>
						<%= f.email_field :email, autofocus: true,class:"form-control", placeholder:"E-mail address" %>

					</div>
					<div class="input-icon">
						<span class="fa-calendar fa"></span>
						<%= f.date_field :birthdate, class:"form-control" %>
					</div>
					<div class="input input-required">
						<%= f.text_field :name, class:"form-control", placeholder:"Name" %>
					</div>

					<select class="selectpicker">
						<option value="" disabled selected>Country of origin</option>
						<option>Europe</option>
						<option>Non-Europe</option>
					</select>
					<select class="selectpicker">
						<option value="" disabled selected>City of studies</option>
						<option>Paris</option>
						<option>London</option>
						<option>Berlin</option>
						<option>Amsterdam</option>
						<option>Stockholm</option>
						<option>Trento</option>
					</select>
					
						<%= f.select :duration, options_for_select([ "Less than 6 months", "More than 6 months" ], "Less than 6 months"),{}, {class:"selectpicker"} %>

						
					<div class="input-icon" style="margin-top: 20px;">
						<span class="fa-lock fa"></span>

						<%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:'8 characters minimum' %>

					</div>
					<div class="input-icon" style="margin-bottom: 20px;">
						<span class="fa-lock fa"></span>
						<%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control" %>
					</div>
					<div class="input-icon" style="margin-bottom: 20px;">
						<div class="pull-left">
							<%= f.check_box :settlebuddy%> <strong>Settle Buddy</strong>
						</div>
						<%= f.label :settlebuddy %>
					</div>
					<%= f.submit "Sign up",class:"btn btn-block btn-success btn-embossed" %>
					<% end %>

					<h3>or</h3>
					<%- resource_class.omniauth_providers.each do |provider| %>
					<i class="fa fa-facebook" style="padding-right: 10px"></i>
					<%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider),class:'btn btn-block btn-facebook btn-embossed'%>

					<% end -%>

					<p>
						Already a user?   <%= link_to "Log in", new_session_path(resource_name) %>
					</p>
				</div>

			</div>
		</div>
	</div><!-- /.container -->
