<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Roadmap</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The single source of all the neccessary information to settle down abroad for international student.">
		<meta name="author" content="teamgetgo">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.getgoabroad.com/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.getgoabroad.com/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.getgoabroad.com/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.getgoabroad.com/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.getgoabroad.com/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.getgoabroad.com/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.getgoabroad.com/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.getgoabroad.com/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-128.png" sizes="128x128" />
		<meta name="application-name" content="Getgo"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="http://www.getgoabroad.com/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="http://www.getgoabroad.com/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="http://www.getgoabroad.com/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="http://www.getgoabroad.com/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="http://www.getgoabroad.com/mstile-310x310.png" />

		<%= stylesheet_link_tag    'bootstrap.min', media: 'all'%>
		<%= stylesheet_link_tag    'jasny-bootstrap', media: 'all'%>
		<%= stylesheet_link_tag    'font-awesome.min', media: 'all'%>

		<%= stylesheet_link_tag    'drunken-parrot', media: 'all'%>
		<%= stylesheet_link_tag    'style', media: 'all'%>
		<%= stylesheet_link_tag    'bootstrap-select.min', media: 'all'%>

		<%= stylesheet_link_tag    'getgo', media: 'all'%>
		<%= javascript_include_tag 'jquery-1.11.2.min' %>
		<%= javascript_include_tag 'bootstrap.min' %>
		<%= javascript_include_tag 'bootstrap-select.min' %>

		<%= csrf_meta_tags %>

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body data-spy="scroll" data-target="#sidenav" data-offset="100">

		<div class="navmenu navmenu-default navmenu-fixed-left">
			<ul class="nav navmenu-nav getgo-menu">
				<!-- The first row is dedicated to the user profile or Sign in / Sign up button, pick one -->
				<!-- <li class="navmenu-account-info">
				<a href="#"><img src="images/profilepicture.png" alt="..." class="img-circle profile-picture"> Michael Jackson</a>
				</li> -->

				<% if user_signed_in? %>

				<li>
					<a href="/"><i class="icon-roadmap-icon"></i>Roadmap</a>
				</li>
				<li>
					<a href="#"><i class="icon-library-icon"></i>Library</a>
				</li>
				<li class ="active">
					<%= link_to  controller: "/search", action: "settlebuddies" do %>
					<i class="icon-settlebuddy-icon"></i>Settle Buddy<% end %>
				</li>
				<li>
					<a href="#"><i class="icon-forum-icon"></i>Forum</a>
				</li>
				<%end%>
				<!-- <li><a href="#"><i class="icon-search-icon"></i>Search</a></li> -->
				<!-- <li><a href="#"><i class="icon-help-icon"></i>Help</a></li> -->
				<!-- <li><a href="#"><i class="icon-settings-icon"></i>Settings</a></li> -->
			</ul>
		</div>

		<div class="canvas">
			<div class="navbar navbar-default navbar-fixed-top">
				<a class="navbar-getgo-logo" href="#"><i class="icon-getgo_symbol"></i></a>
				<p class="navbar-page-title">
					Getgo
				</p>
				<!-- USER INFO GOES HERE, welcome message, profil picture, messages/chat icon, bell icon for notification -->
				<ul class="nav navbar-nav navbar-right getgo-top-nav">
					<% if user_signed_in? %>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="welcome-user">Welcome, </span> <span class="user-name"><%= current_user.name %></span> <%= image_tag current_user.gravatar_url, class:"img-circle profile-picture" %> </a>
						<ul class="dropdown-menu" role="menu">
							<div class="arrow top"></div>
							<li class="dropdown-header">
								<%= current_user.name %>
							</li>
							<li>
								<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Logout", "/logout", :class => 'navbar-link'  %>
							</li>
						</ul>
					</li>

					<li>
						<a href="#"><i class="fa fa-envelope"></i></a>
					</li>
					<li>
						<% num = Request.where("(settle_buddy_id=? AND s_view_status=?) OR (client_id=? AND c_view_status=?)", current_user.id, false,current_user.id,false).size%>
						<%if current_user.settlebuddy?%>
						<a href="/search/requests_to_settle"> <%else%> <a href="/search/settlebuddies"> <%end%> <i class="fa fa-bell"><%if num!=0 %><span class="label label-success label-as-badge"><%= num%></span><%end%></i></a>
					</li>
					<% else %>
					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

					<%end%>
				</ul>

				<button type="button" class="navbar-toggle hamburger" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</div>
			<!-- #### GETGO CONTENT WRAPPER #### -->
			<div class="getgo-content">
				<div class="container-fluid">
					<% if notice %>
					<p class="alert alert-success">
						<%= notice %>
					</p>
					<% end %>
					<% if alert %>
					<p class="alert alert-danger">
						<%= alert %>
					</p>
					<% end %>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row library-search">
								<div class="col-sm-12">

									<div class="input-icon">
										<span class="fa-search fa search-icon"></span>
										<input type="text" class="form-control" placeholder="Find your buddy... ">
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- LIST OF Settle buddies -->
					<div class="row">
						<% User.where("settlebuddy=? AND id<>?",true, current_user.id).find_each do |user|%>
						<!-- Settle buddy item-->
						<div class="col-md-4 col-sm-6">
							<div class="tile tile-profile">

								<!-- <div class="starrr"></div> -->
								<%= image_tag user.gravatar_url, width:"128" ,height:"128", alt:"" %>

								<h4><%= user.name%></h4>

								<div class="user-rating">
									<%for i in 1..user.rating%>
									<i class="fa fa-star"></i>
									<%end%>

									<%for i in 1..(5-user.rating)%>

									<i class="fa fa-star star-gray"></i>
									<%end%>
								</div>

								<div class="buddy-info">
									<div class="buddy-location">
										<i class="fa fa-home"></i> <%= user.country_of_origin%> <i class="fa fa-graduation-cap"></i> <%= user.city_of_studies%>
									</div>
									<% support = user.settlebuddy_support%>
									<ul class="list-inline">
										<%if support.bank?%>
										<li>
											<i class="fa fa-circle bank-tag"></i>Bank
										</li>
										<%end%>
										<%if support.visa?%>

										<li>
											<i class="fa fa-circle visa-tag"></i>Visa
										</li>
										<%end%>

										<%if support.housing?%>

										<li>
											<i class="fa fa-circle housing-tag"></i>Housing
										</li>
										<%end%>

										<%if support.public_transport?%>

										<li>
											<i class="fa fa-circle public-transport-tag"></i>Public transport
										</li>
										<%end%>

										<%if support.caf?%>

										<li>
											<i class="fa fa-circle housing-allowance-tag"></i>Hosuing allowance (CAF)
										</li>
										<%end%>

										<%if support.telecommunication?%>

										<li>
											<i class="fa fa-circle telecommunication-tag"></i>Telecommunication
										</li>
										<%end%>
									</ul>
								</div>
								<div class="request-button">
									<%request = Request.where(settle_buddy_id: user.id, client_id: current_user.id).first%>
									
									<%if (request.nil?) || request.status==0%>
									<%= link_to 'Send Request', {:controller => "search", :action => "request_settle", :user_id => current_user.id, :settle_id => user.id  }, class:'btn btn-block btn-primary btn-embossed domi-test'%>
									<%elsif request.status==1%>
									<a href="#" class="btn btn-block btn-warning btn-embossed domi-test">Pending</a>

									<%else %>
									<a href="#" class="btn btn-block btn-success btn-embossed domi-test">Settlebuddy!</a>

									<%end%>
								</div>
							</div>
						</div>

						<%end%>
						<!-- You can add as many settle buddies as you want -->

					</div>
					<!-- /row -->
				</div><!-- /.container -->
			</div><!-- /.getgo-content -->
			<footer>
				<p>
					<i class="icon-getgo_logo"></i>
				</p>
				<p>
					2015 &copy; GETGO - All rights reserved
				</p>
			</footer>
		</div><!-- /canvas -->

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<%= javascript_include_tag 'jasny-bootstrap' %>
		<%= javascript_include_tag 'checkbox' %>
		<%= javascript_include_tag 'radio' %>
		<%= javascript_include_tag 'bootstrap-switch' %>
		<%= javascript_include_tag 'toolbar' %>
		<%= javascript_include_tag 'starrr' %>
		<%= javascript_include_tag 'jquery.matchHeight' %>

		<%= javascript_include_tag 'getgo' %>

	</body>
</html>