<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @settlebuddy_support.bank %>
</p>

<p>
  <strong>Visa:</strong>
  <%= @settlebuddy_support.visa %>
</p>

<p>
  <strong>Housing:</strong>
  <%= @settlebuddy_support.housing %>
</p>

<p>
  <strong>Public transport:</strong>
  <%= @settlebuddy_support.public_transport %>
</p>

<p>
  <strong>Caf:</strong>
  <%= @settlebuddy_support.caf %>
</p>

<p>
  <strong>Telecommunication:</strong>
  <%= @settlebuddy_support.telecommunication %>
</p>

<p>
  <strong>User:</strong>
  <%= @settlebuddy_support.user_id %>
</p>

<%= link_to 'Edit', edit_settlebuddy_support_path(@settlebuddy_support) %> |
<%= link_to 'Back', settlebuddy_supports_path %>
