<p id="notice"><%= notice %></p>

<h1>Listing Document Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Task</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_comments.each do |document_comment| %>
      <tr>
        <td><%= document_comment.comment %></td>
        <td><%= document_comment.task_id %></td>
        <td><%= document_comment.rating %></td>
        <td><%= link_to 'Show', document_comment %></td>
        <td><%= link_to 'Edit', edit_document_comment_path(document_comment) %></td>
        <td><%= link_to 'Destroy', document_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document comment', new_document_comment_path %>
