<!DOCTYPE html>
<html>
	<head>
		<title>getgo</title>
		<%= stylesheet_link_tag    'application', media: 'all'%>
		<%= javascript_include_tag 'application'%>
		<%= csrf_meta_tags %>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The single source of all the neccessary information to settle down abroad for international student.">
		<meta name="author" content="teamgetgo">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.getgoabroad.com/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.getgoabroad.com/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.getgoabroad.com/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.getgoabroad.com/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.getgoabroad.com/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.getgoabroad.com/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.getgoabroad.com/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.getgoabroad.com/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="http://www.getgoabroad.com/favicon-128.png" sizes="128x128" />
		<meta name="application-name" content="Getgo"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="http://www.getgoabroad.com/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="http://www.getgoabroad.com/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="http://www.getgoabroad.com/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="http://www.getgoabroad.com/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="http://www.getgoabroad.com/mstile-310x310.png" />

		<title>Sign in</title>
		<%= yield :head %>

	</head>
	<body data-spy="scroll" data-target="#sidenav" data-offset="100">

		<div class="navmenu navmenu-default navmenu-fixed-left">
			<ul class="nav navmenu-nav getgo-menu">
				<!-- The first row is dedicated to the user profile or Sign in / Sign up button, pick one -->
				<!-- <li class="navmenu-account-info">
				<a href="#"><img src="images/profilepicture.png" alt="..." class="img-circle profile-picture"> Michael Jackson</a>
				</li> -->

				<% if !(user_signed_in?) %>
				<li>
					<%= link_to  controller: "/static_pages", action: "home" do %>
					<i class="icon-getgo_symbol"></i>Home<% end %>
				</li>
				<%else%>

				<li>
					<a href="#"><i class="icon-roadmap-icon"></i>Roadmap</a>
				</li>
				<li>
					<a href="#"><i class="icon-library-icon"></i>Library</a>
				</li>
				<li>
					<a href="#"><i class="icon-settlebuddy-icon"></i>Settle buddy</a>
				</li>
				<li>
					<a href="#"><i class="icon-forum-icon"></i>Forum</a>
				</li>
				<%end%>
				<!-- <li><a href="#"><i class="icon-search-icon"></i>Search</a></li> -->
				<!-- <li><a href="#"><i class="icon-help-icon"></i>Help</a></li> -->
				<!-- <li><a href="#"><i class="icon-settings-icon"></i>Settings</a></li> -->
			</ul>
		</div>

		<div class="canvas">
			<div class="navbar navbar-default navbar-fixed-top">
				<a class="navbar-getgo-logo" href="#"><i class="icon-getgo_symbol"></i></a>
				<p class="navbar-page-title">
					Getgo
				</p>
				<!-- USER INFO GOES HERE, welcome message, profil picture, messages/chat icon, bell icon for notification -->
				<ul class="nav navbar-nav navbar-right getgo-top-nav">
					<% if user_signed_in? %>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="welcome-user">Welcome, </span> <span class="user-name"><%= current_user.name %></span> <%= image_tag current_user.gravatar_url, class:"img-circle profile-picture" %> </a>
						<ul class="dropdown-menu" role="menu">
							<div class="arrow top"></div>
							<li class="dropdown-header">
								<%= current_user.name %>
							</li>
							<li>
								<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Logout", "/logout",method: :delete, class: 'navbar-link'  %>
							</li>
						</ul>
					</li>

					<li>
						<a href="#"><i class="fa fa-envelope"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-bell"></i></a>
					</li>
					<% else %>
					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

					<%end%>
				</ul>

				<button type="button" class="navbar-toggle hamburger" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</div>
			<!-- #### GETGO CONTENT WRAPPER #### -->
			<div class="getgo-content">
				<div class="container-fluid">
					<% if notice %>
					<p class="alert alert-success">
						<%= notice %>
					</p>
					<% end %>
					<% if alert %>
					<p class="alert alert-danger">
						<%= alert %>
					</p>
					<% end %>

					<%= yield %>

				</div><!-- /.container -->
			</div><!-- /.getgo-content -->
			<footer>
				<p>
					<i class="icon-getgo_logo"></i>
				</p>
				<p>
					2015 &copy; GETGO - All rights reserved
				</p>
			</footer>
		</div><!-- /canvas -->

	</body>
</html>
